.favorites {
  height: 100%;
  border: 4px solid pink;
  border-radius: 5px;
  margin-right: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  min-width: 350px;
  &__subgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    &--subtitle {
      font-weight: 500;
      text-align: center;
      padding: 10px;
    }
    &--btn {
      height: 30px;
      width: 60px;
      background-color: pink;
      border: none;
    }
  }
  &__container {
    text-align: center;
    padding-top: 10px;
    &--text {
      margin-top: 10px;
      color: white;
    }
    &--card {
      padding: 20px 20px 10px 20px;
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.31);
      border-top: 1px solid rgba(128, 128, 128, 0.31);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        background-color: rgba(128, 128, 128, 0.207);
      }
      & .img {
        height: 150px;
        width: 100px;
      }
      & .title {
        color: pink;
        margin: 15px;
        max-width: 120px;
      }
      & .esc {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid pink;
        background-color: pink;
        & .icon {
          font-size: 20px;
        }
        &:hover {
          background-color: black;
          & .icon {
            color: pink;
          }
        }
      }
    }
  }
}
.hidden {
  display: none;
}
.bin {
  color: black;
  font-size: 20px;
  &:hover {
    color: gray;
  }
}
